body {
	text-align: center; margin-left: 10%; margin-right: 10%
	display: inline-block; text-align: left; margin-left: 175px; margin-right: 175px;
}
h1 {
	text-align: center;
	color: black;
	font-family: 'Dosis', sans-serif;
}
h3 {
	color: black;
	font-family: 'Dosis', sans-serif;
}
p {
	color: black;
	font-family: 'Dosis', sans-serif;
}
.button { 
	background-color: #4CAF50;
	border: 2px solid #4CAF50;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	/*Button Hoverability*/
	transition-duration: 0.4s;
	cursor: pointer;
}
.button1 {
	background-color: #4CAF50;
	color: black;
	border-radius: 8px;
}
.button1:hover {
	background-color: #FFFFFF;
	color: black;
}

